---
layout: layout.njk
title: fruits
tags: navigation
imgFolder: img/fruits/
---

<h1>{{ title }}</h1>

<ul>
    {% for img in gallery %}
        <img src="{{ '/./' | url }}{{ imgFolder }}{{ img }}" width="100px">
    {% endfor %}
</ul>